<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>J-PET Mobile</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-badge color="danger" *ngIf="cartItemCount | async as count" [hidden]="count === 0">
          {{ count }}
        </ion-badge>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Usuario: {{email}}</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Productos Disponibles</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let producto of productos">
      <ion-label (click)="verDetalle(producto)">
        <h2>{{producto.nombre}}</h2>
        <p>${{producto.precio | number:'1.2-2'}}</p>
      </ion-label>
      <ion-button slot="end" (click)="addToCart(producto)">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>